a.help {
    font: 9pt Lucida Console, Courier New, Courier, fixed;
}

body {
    background-color: #B4BA76;
    padding: 0px;
    margin: 0px;
}

body.help {
    background-color: #B4BA76;
    padding: 8px;
    margin: 8px;
    font: 10pt Verdana, sans-serif;
}

#img {
#    behavior: url(iepngfix.htc);
#}

select {
    font: 9pt Courier New, Courier, fixed;
}

td.help {
    font: 10pt Verdana, sans-serif;
}

.aerodromeDiv {
    position:   absolute;
    width:      3px;
    height:     3px;
    margin:     0;
    padding:    0;
}

.selectedAerodrome {
#    background: url("images/dothilite.png.bak") yellow 0% no-repeat fixed
}

.borderedImage {
    border: 1px solid #E0E0E0;
}

.control {
    font: 9pt Lucida Console, Courier New, Courier, fixed;
}

.dateSelect {
    width: 44px;
}

.domTTContent {
    border: 1px solid #000000;
    background-color: #F4F1DE;
    padding: 2px 4px;
}

.faq {
    font-weight: bold;
    margin-bottom: 0px;
    background-color: #c0c0c0;
}

.faqa {
    margin-top: 0px;
}

.mapLayer {
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 0;
    top: 0;
}

.monthSelect {
    width: 100px;
}

.pageTitle {
    font: bold 14pt Courier New, fixed;
    text-align: center;
}

.squadronDate {
    vertical-align: top;
    padding-right: 2em;
}

.squadronName {
    vertical-align: top;
    padding-right: 1em;
}

.squadronLoc {
    vertical-align: top;
    padding-right: 2em;
}

.yearSelect {
    width: 62px;
}


#emptyDiv {
    margin: 0px;
    padding: 0px;
    position: relative;
    font: 8pt Courier New, Courier, fixed;
}

#emptyDiv td {
    font: 8pt Courier New, Courier, fixed;
}

#mapContainerDiv {
    margin: 0px;
    padding: 0px;
    position: relative;
    height: 600px;
    overflow: scroll;
    left: 0;
}

#resizeHandle {
    margin:           0px;
    padding:          0px;
    position:         relative;
    height:           3px;
    width:            100%;
    background-color: #999;
    cursor:           move;
}

#toolBarDiv {
    border-width: 1;
    border-style: solid none;
    border-color: black;
    background-color: #e0e0e0;
    height: 36px;
}
