a.help {
    font: 9pt Lucida Console, Courier New, Courier, fixed;
}

body {
    background-color: #B4BA76;
    padding: 0;
    margin: 0;
}

body.help {
    background-color: #B4BA76;
    padding: 8px;
    margin: 8px;
    font: 10pt Verdana, sans-serif;
}

img {
    border: 0;
    margin: 0;
    padding: 0;
}

select {
    border: 1px solid #a4a4a4;
    font: 9pt Courier New, Courier, fixed;
}

td.help {
    font: 10pt Verdana, sans-serif;
}

.aerodromeDiv {
    position:       absolute;
    width:          3px;
    height:         3px;
    margin:         0;
    padding:        0;
    z-index:        500;
    line-height:    0;
}

/* without this styling, the aerodromeDivs are too tall (which you can only tell by watching when tooltips go on/off) */
.aerodromeDiv img {
    display: block;
    vertical-align: top;
}

.selectedAerodrome {
/*    background: url("images/dothilite.png.bak") yellow 0% no-repeat fixed */
    display:    inline;
}

.borderedImage {
    border: 1px solid #E0E0E0;
}

.control {
    font: 9pt Lucida Console, Courier New, Courier, fixed;
}

.dateSelect {
    width: 44px;
}

.domTTContent {
    border: 1px solid #000000;
    background-color: #F4F1DE;
    padding: 2px 4px;
}

.faq {
    font-weight: bold;
    margin-bottom: 0;
    background-color: #c0c0c0;
}

.faqa {
    margin-top: 0;
}

.mapLayer {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.monthSelect {
    width: 100px;
}

.pageTitle {
    font: bold 14pt Courier New, fixed;
    text-align: center;
    padding: 1em;
    margin: 0;
}

.squadronDate {
    vertical-align: top;
    padding-right: 2em;
}

.squadronName {
    vertical-align: top;
    padding-right: 1em;
}

.squadronLoc {
    vertical-align: top;
    padding-right: 2em;
}

.yearSelect {
    width: 62px;
}

#aerodromeHighlightDiv {
    position:    absolute;
    width:       5px;
    height:      5px;
    margin:      0;
    padding:     0;
    z-index:     501;
    line-height: 0;
}

/* same note as .aerodromeDiv img */
#aerodromeHighlightDiv img {
    display: block;
    vertical-align: top;
}


#emptyDiv {
    margin: 0;
    padding: 0;
    position: relative;
    font: 8pt Courier New, Courier, fixed;
}

#emptyDiv td {
    font: 8pt Courier New, Courier, fixed;
}

#mapContainerDiv {
    margin: 0;
    padding: 0;
    position: relative;
    height: 600px;
    overflow: hidden;
    left: 0;
}

#drawCanvasDiv {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#toolBarDiv {
    border-width: 1px;
    border-style: solid none;
    border-color: black;
    background-color: #e0e0e0;
    height: 36px;
}
